<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SonicScape</title>
  <style>
    html, body {
      height: 100%;
    }
    body {
        margin: 0px;
    }
    canvas {
      border:2px solid gray;
      background-color: #222021;
      position: absolute;
      z-index: -1;
    }
  </style>
</head>
<body>
  <canvas id="canvas"></canvas>
  <script type="module" src="{{ url_for('static', filename='js/music.js') }}"></script>
</body>
</html>
